.animate_gorup {
    position: absolute;
   /* width: 1325px;*/
    width: 2000px;
    height: 500px;
    overflow: hidden;
    top: 150px;
    left: 115px;
    margin: 0 auto;
    opacity: 0;
    /*animation: mainAnimate 6s linear infinite;*/
    z-index: 3;
}

#right_animate {
    position: absolute;
    top: 0px;
    right: -14px;
   /* width: 800px;*/
    width:2000px;
}

.animate_gorup.two #right_animate {
    /*top: 12px;
    right: -36px;*/
    /*top: -539px;
    right: -564px;*/
    top: -288px;
    right: -561px;
}

.animate_gorup.one #right_animate {
    /*top: -39px;
    right: -60px;*/
     /*top: -589px;
    right: -586px;*/
    top: -338px;
    right: -586px;

}

.animate_gorup.three #right_animate {
    /*top: 0px;
    right: -42px;*/
    /*top: -552px;
    right: -570px;*/
    top: -302px;
    right: -569px;

}



@keyframes mainAnimate {
    0% {
        transform: translateY(-40px);

    }

    50% {
        transform: translateY(40px);

    }

    100% {
        transform: translateY(-40px);

    }

}


#right_animate h1 {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 24px;
    letter-spacing: 1px;
    font-weight: 200;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#right_animate canvas {
    width: 100%;
}

.m_animate {
    position: absolute;
    top: 65px;
    left: 350px;
}

.animate_gorup.one .m_animate img {
    width: 237px;
}

.animate_gorup.two .m_animate img {
    width: 214px;
}

.animate_gorup.three .m_animate img {
    width: 220px;
}

.section-top-keyvisual:after {
    background-image: none;
}


#left_animate {

    width: 350px;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
}

.animate_gorup.two #left_animate {
    top: -60px;
    left: 3px;
}

.animate_gorup.one #left_animate {
    top: -48px;
    left: 0px;
}

.animate_gorup.three #left_animate {
    top: -62px;
    left: 5px;
}


#left_animate canvas {
    width: 100%;
    height: 400px !important;
}


/*.character_group {
    opacity: 0;
}
*/
.m_img {
    width: 880px;
    height: 590px;
    position: absolute;
    top: 0;
    left: 140px;
    z-index: 4;
}

.section-top-keyvisual .image-text {
    width: 3.75%;
    bottom: 40px;
    left: 160px;
}

.animate_gorup.one,
.animate_gorup.two,
.animate_gorup.three {
    visibility: hidden;
}

.animate_gorup.one.active,
.animate_gorup.two.active,
.animate_gorup.three.active {
    visibility: visible;
   /* visibility: hidden;*/
    animation: fadeinout 4.9s linear;

}

.m_img.one,
.m_img.two,
.m_img.three {
    opacity: 0;
}
.m_img.one.active,
.m_img.two.active,
.m_img.three.active {
    /* opacity: 1;*/
    animation: runs 5s linear;

}

.mask {
  -webkit-mask-image: url(../img/top/mask09.png);
  mask-image: url(../img/top/mask09.png);
  -webkit-mask-size:100% 100%;
  mask-size:100% 100% ;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;  
  overflow: hidden;  
 
}
.section-top-keyvisual{
    opacity: 0;
     transition: opacity 0.25s ease 0s;
     
}

@keyframes fadeinout {

    0%{
        opacity: 0;
    }

    20% {
        opacity: 0.5;
    }
    30% {
        opacity: 1;
        
    }

    70% {
        opacity: 1;
    }
    100%{
        opacity: 0;
        
    }
}

@keyframes runs {


    0%{
        transform: translateX(40px);
        opacity: 0.5;
    }

    10% {
        opacity: 0.5;
    }
    15% {
        opacity: 1;
    }

    85% {
        opacity: 1;
    }
    

    90% {
        opacity: 0.5;
    }
    100%{
        opacity: 0;
        transform: translateX(0);
    }
}

.section-top-keyvisual .content-scroll {
    z-index: 3;
}

.only_pc {
    display: block;
}

.only_sp {
    display: none;
}

.section-top-keyvisual .title-keyvisual{
    text-align: center;
    right: 6.28%;
    background: #ffffff;
    width: 15.7%;
    padding-bottom: 50px;
    z-index : 5;
}
.section-top-keyvisual .keyvisual-image{
    width: 81%;
}
.section-top-keyvisual .keyvisual-content{
    margin-right: -2%;
}
.section-top-keyvisual .text-keyvisual{
    z-index: 5;
}
.section-top-keyvisual .inner-wrapper:before {
    width: 80px;
}


.slide-animation {
   -webkit-animation: zoom_animation 30s linear infinite;
    animation: zoom_animation 30s linear infinite;
}
@keyframes zoom_animation {
   0% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}


@media only screen and (max-width: 768.98px) {
    .only_pc {
        display: none;
    }

    .only_sp {
        display: block;
    }
   

    #right_animate {
       
        width: 800px;
      
    }

    .m_img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 21.5vw;
        left: 0;
        z-index: 999;
    }

    .animate_gorup {
        top: 290px;
        left: -50px;
        width: 1325px;

    }

    .animate_gorup.one .m_animate img {
        width: 118px;
    }

    .animate_gorup.two .m_animate img {
        width: 112px;
    }

    .animate_gorup.three .m_animate img {
        width: 110px;
    }

    .animate_gorup.two #left_animate {
        top: -95px;
        left: 1px;
    }

    .animate_gorup.two #right_animate {
        top: -58px;
        right: 65px;
    }

    .animate_gorup.one #left_animate {
        top: -92px;
        left: 2px
    }

    .animate_gorup.one #right_animate {
        top: -88px;
        right: 57px;
    }

    .animate_gorup.three #left_animate {
        top: -98px;
        left: 1px;
    }

    .animate_gorup.three #right_animate {
        top: -68px;
        right: 66px;
    }

    .section-top-keyvisual .image-text {
        width: 0.64rem;
        bottom: 0;
        top: 4.8rem;
        left: 0.1rem;
        z-index: 3;
    }

    .section-top-keyvisual {
        padding-bottom: 0;
    }

    .section-top-keyvisual .text-keyvisual {
        font-size: .24rem;
        padding-top: 4vw;
    }
    .section-top-keyvisual .keyvisual-image {
        margin-bottom: 0.9rem;
    }
    .section-top-keyvisual .title-keyvisual{
        right: 0;
    }
    .section-top-keyvisual .title-keyvisual{

        width: 59%;
    }
    .mask {
      -webkit-mask-image: none;
      mask-image:none;
      
 
    }
    .slide-animation {
        animation: none;
    }

}

@media only screen and (max-width: 440px) {

    .animate_gorup {
        top: 84px;
        left: -210px;

    }
}

@media only screen and (max-width: 390px) {

    .animate_gorup {
        top: 70px;
        left: -222px;

    }
}

@media only screen and (max-width: 375px) {

    .animate_gorup {
        top: 65px;
        left: -228px;

    }
}