extends ../../_layouts/default

block vars
  -title        = 'よくあるご質問'
  -description  = ''
  -keywords     = ''
  -pageID       = 'job'
  -pageSubID    = 'job-haken-faq'
  -typePage     = 'type-a'
  -path         = '../..'
  -imgPC        = path+'/img/'+pageID+'/'
  -imgSP        = path+'/img/'+pageID+'/sp/'

block container
  include ../../_parts/common_list_menu_04
  +keyvisual('job-interview','よくあるご質問')
    +breadcrumbJapan('よくあるご質問', [{title: '人材派遣トップ', url: '/job/'}])

  section.section-faq.is-padding
    .wrapper
      h2.common-title お仕事をお探しの方
      .js-faq-accordion.faq-content
        h3.faq-title.js-accordion-heading 派遣・紹介予定派遣のお仕事探しでよくあるご質問
        .js-accordion-content.block-common.faq-block
          .faq-inner
            .faq-block
              h4.faq-about 登録について
              ol.faq-list
                li
                  h5.faq-question.js-accordion-question
                    span 登録方法について教えてください。
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span WEB仮登録とは何ですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span WEB仮登録はスマートフォンでもできますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 来社して登録手続きにかかる時間はどれくらいですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録手続きの流れを教えてください。
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 来社登録時のスキルチェックはどのような内容ですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録時に持参した書類は、返却してもらえますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録が完了したらお仕事は必ず紹介してもらえるのですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録方法について教えてください。
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録に費用はかかりますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録の有効期限はありますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
            .faq-block
              h4.faq-about 紹介予定派遣について
              ol.faq-list
                li
                  h5.faq-question.js-accordion-question
                    span 紹介予定派遣の派遣期間はどれくらいですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 就業前に、書類選考や面接・試験はありますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 派遣社員として働く前に、社員登用後の待遇を教えてもらうことはできますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 社員登用を断ることはできますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 社員登用後、試用期間はありますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 派遣先に入社するときの雇用形態は、必ず正社員ですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
      .faq-registration
        p.registration-free
          span まずはエントリー！登録は無料です！！
        a(href=path+"/mypage/register.html").registration-button エントリーはこちらから
        p.registration-text すぐにお仕事を見つけたい方は
          br.sm
          |仮登録後に登録予約をお願いします。

  section.section-faq
    .wrapper
      h2.common-title 登録済み派遣スタッフの方
      .js-faq-accordion.faq-content
        h3.faq-title.js-accordion-heading 登録済み派遣スタッフの方からよくあるご質問
        .js-accordion-content.block-common
          .faq-inner
            .faq-block
              h4.faq-about 登録について
              ol.faq-list
                li
                  h5.faq-question.js-accordion-question
                    span 登録方法について教えてください。
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span WEB仮登録とは何ですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span WEB仮登録はスマートフォンでもできますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 来社して登録手続きにかかる時間はどれくらいですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録手続きの流れを教えてください。
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 来社登録時のスキルチェックはどのような内容ですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録時に持参した書類は、返却してもらえますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録が完了したらお仕事は必ず紹介してもらえるのですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録方法について教えてください。
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録に費用はかかりますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 登録の有効期限はありますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
            .faq-block
              h4.faq-about 紹介予定派遣について
              ol.faq-list
                li
                  h5.faq-question.js-accordion-question
                    span 紹介予定派遣の派遣期間はどれくらいですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 就業前に、書類選考や面接・試験はありますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 派遣社員として働く前に、社員登用後の待遇を教えてもらうことはできますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 社員登用を断ることはできますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 社員登用後、試用期間はありますか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
                li
                  h5.faq-question.js-accordion-question
                    span 派遣先に入社するときの雇用形態は、必ず正社員ですか？
                  .js-accordion-answer.block-common
                    p.faq-answer 登録は、お近くの旭化成アミダスにてご来社面談後に完了します。 来社面談のお時間短縮のために、<br>WEB仮登録をおすすめしております。 （WEB仮登録の入力完了までにかかる時間は10分～15分程度です)
      .faq-registration.is-margin
        p.registration-free
          span まずはエントリー！登録は無料です！！
        a(href=path+"/mypage/register.html").registration-button エントリーはこちらから
        p.registration-text すぐにお仕事を見つけたい方は
          br.sm
          |仮登録後に登録予約をお願いします。
      include ../../_parts/common_contact_03