.block-common-contact.contact-free
  .block-content-top
    h2.title-contact まずは案件エントリー！<br class="sm">登録は無料です！！
    .block-content
      p.common-text 旭化成アミダスでは、求人企業様と求職者様を一人のコンサルタントが担当する「一元管理方式」で皆さまの転職活動をサポートいたします。このサービスは無料でご利用いただけます。<br>まずは、ご希望の求人情報にエントリーください。<br>エントリーが完了すると、登録書類を自動返信メールにてお届けします。
      .content-right
        a.button-contact(href="#") 求人情報はこちら
        p.text-note-detail 案件エントリー後、登録の流れとなります。
  .block-content-bottom
    .content-bottom
      h3.title-bottom お役立ちコンテンツ
      p.text-small 初めて派遣で働く方も、実際に派遣で働いている人にもぴったりなコンテンツを揃えました。
    .block-list-story
      ul.list-story-issue
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper 求人検索
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper お仕事が決まるまでの流れ
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper 旭化成アミダスの転職支援サービス
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper 転職コンサルタント
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper 旭化成グループの会社だからできる転職旭化
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper コンサルタント×転職者 対談
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper 成アミダスの得意な領域・職種
            span.button-icon
        li
          a.button-common-line.is-style-direct(href="#")
            span.button-wrapper よくあるご質問
            span.button-icon