.content-list-menu.list-menu-job.md
  +listMenu([
    {
      title: '求人検索'
    },
    {
      title: '転職支援サービスについて',
      pageName: 'job-jinzai',
      url: '/job/jinzai/about.html'
    },
    {
      title: '旭化成グループの会社だからできる転職支援'
    },
    {
      title: '得意な領域・職種'
    },
    {
      title: 'お仕事が決まるまでの流れ'
    },
    {
      title: '転職コンサルタント紹介'
    },
    {
      title: 'コンサルタント×転職者 対談'
    },
    {
      title: 'よくあるご質問'
    }
  ])
