.block-common-contact.contact-index(class=pageSubID=='haken-index'?'block-content-begin':'')
  .block-content-top
    h2.title-contact まずはWEB登録！<br class="sm">登録は無料です！
    .block-content
      p.common-text 旭化成アミダスが皆様にお仕事をご紹介するために、職務経歴、スキル、プロフィール、ご希望の職種や勤務条件等、詳しくお伺いします。ご登録は無料です。<br>詳しい情報をご登録いただくことで、本登録の際のご来社時に手続きが30分ほど短縮されます。
      .content-right
        a.button-contact(href="#") WEB仮登録
        p.text-note-detail 担当者との面談等を行った後、本登録となります。