.content-list-menu.list-service-menu.menu-mypage.md
  +listMenu([
    {
      title: 'ホーム',
      url: '/mypage/',
      pageName: 'mypage-top'
    },
    {
      title: 'お仕事検索'
    },
    {
      title: 'キャリアアップ支援制度'
    },
    {
      title: '福利厚生'
    },
    {
      title: '規定・各種申請書',
      url: '/mypage/application.html',
      pageName: 'mypage-application'
    },
    {
      title: '各種お問合せ'
    }
  ])
