.block-pagination
  ul.common-list-pagination.font-alata
    li.arrow.prev
      a(href='#') PREV
    li
      span.page-numbers.current 1
    li
      a.page-numbers(href='#') 2
    li
      a.page-numbers(href='#') 3
    li
      span.page-numbers.dots ...
    li
      a.page-numbers(href='#') 5
    li.arrow.next
      a(href='#') NEXT