.content-list-menu.list-menu-job.md
  +listMenu([
    {
      title: '製造現場のお仕事について',
      pageName: 'job-seisan',
      url: '/job/seisan/about.html'
    },
    {
      title: '配属地域紹介'
    },
    {
      title: '社員インタビュー'
    },
    {
      title: '研修制度'
    },
    {
      title: 'よくあるご質問'
    },
    {
      title: '募集中案件'
    }
  ])
