.content-list-menu.list-menu-job.md
  +listMenu([
    {
      title: '派遣求人検索',
      pageName: 'haken-index',
      pageName02: 'mypage-search',
      url: '/job/haken/index.html'
    },
    {
      title: 'ライフスタイル別特集',
      pageName: 'job-lifestyle',
      url: '/job/haken/lifestyle.html'
    },
    {
      title: '拠点別特集'
    },
    {
      title: '業界・職種別特集'
    },
    {
      title: 'スタッフインタビュー',
      pageName: 'job-interview',
      pageName02: 'job-interview-detail',
      url: '/job/haken/interview/index.html'
    },
    {
      title: '派遣現場座談会'
    },
    {
      title: '初めて派遣で働く方へ'
    },
    {
      title: 'ご登録済スタッフの方'
    },
    {
      title: 'よくあるご質問',
      pageName: 'job-haken-faq',
      url:'/job/haken/faq.html'
    },
    {
      title: '労働者派遣法改正関連'
    }
  ])
