.block-pagination.pagination-orange
  ul.common-list-pagination.font-alata
    li.arrow.prev
      a(href='#') PREV
    li
      a.page-numbers(href="#") 1
    li
      a.page-numbers(href='#') 2
    li
      a.page-numbers(href='#') 3
    li
      a.page-numbers(href='#') 4
    li
      a.page-numbers(href='#') 5
    li.arrow.next
      a(href='#') NEXT