.block-common-contact
  .block-content-top
    h2.title-contact まずはエントリー！<br class="sm">登録は無料です！
    .block-content
      p.common-text 旭化成アミダスが皆様にお仕事をご紹介するために、職務経歴、スキル、プロフィール、ご希望の職種や勤務条件等、詳しくお伺いします。ご登録は無料です。<br class="md">詳しい情報をご登録いただくことで、本登録の際のご来社時に手続きが30分ほど短縮されます。
      .content-right
        p.text-right
          span まずはエントリー！登録は無料です！
        a.button-contact(href="#") WEB仮登録
        p.text-note-detail すぐにお仕事を見つけたい方は仮登録後に登録予約をお願いします。
  .block-content-bottom
    .content-bottom
      h3.title-bottom お役立ちコンテンツ
      p.text-small 初めて派遣で働く方も、実際に派遣で働いている人にもぴったりなコンテンツを揃えました。
    ul.list-story-issue
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper 派遣求人検索
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper よくあるご質問
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper ライフスタイル別特集
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper 初めて派遣で働く方へ
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper 拠点別特集
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper ご登録済み派遣スタッフの方
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper 業界・職種別特集
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper 労働者派遣法改正関連
          span.button-icon
      li
        a.button-common-line.is-style-direct(href="#")
          span.button-wrapper スタッフインタビュー
          span.button-icon