.content-list-menu.list-service-menu.md
  +listMenu([
    {
      title: '旭化成アミダスができること',
      pageName: 'client-service',
      url: '/client/service.html'
    },
    {
      title: '人材派遣',
      pageName: 'client-haken',
      url: '/client/haken/'
    },
    {
      title: 'ITエンジニア派遣'
    },
    {
      title: '人材紹介'
    },
    {
      title: '教育・研修',
      pageName: 'client-program'
    },
    {
      title: '各種アウトソーシング'
    },
    {
      title: 'お知らせ・イベント情報',
      pageName: 'client',
      pageName: 'client-news'
    }
  ])
