.common-block-banner
  .wrapper
    ul.common-list-banner
      li.item-banner
        p.text-banner
          span 関連資料を無料でご利用いただけます
        a.button-banner(href="#") お役立ち資料ダウンロード
      li.item-banner
        p.text-banner
          span ○○○○サービスをご検討の方はこちら
        a.button-banner(href="#") お問い合わせ