.inner-wrapper.inner-mypage
  .header-left
    .header-logo
      a.trans.logo(href=path+"/")
        img(src=path+"/img/common/common_logo.png" width="189" height="57" loading="lazy" alt="旭化成アミダス")
    p.text-service 総合人材<br class="md">サービスサイト
  .header-right.md
    .content-top
      ul.list-function.function-mypage
        li.item-function
          a.trans.item-link(href="#") WEBタイムシート
        li.item-function
          a.trans.item-link.is-icon(href="#") WEB給与明細
        li.item-function
          a.trans.item-link(href="#") ログアウト

